:root {
    --background: #abd1c6;
    --paragraph: #0f3433;
    --headline: #001e1d;
    --nav-paragraph: #e8e4e6;
    --links: #e8e4e6;
    --card-paragraph: #e8e4e6;
    --nav-headline: #ebeaeb;
    --nav-background: #004643;
    --card-background: #004643;
    --placeholder: #fffffe;
    --form-input: #004643;
    --form-text-button: #001e1d;
    --form-button: #f9bc60;
    --footer-links: #f9bc60;
    --nav-separator: #001e1d;
}

body {
    font-family: proxima-nova, sans-serif;
    display: grid;
    background-color: var(--background);
    grid-template-columns: 18% 1fr;
    grid-template-rows: 1fr;
    margin: 0;
}

section {
    margin-top: 7rem;
}

h1, h2 {
    color: var(--headline);
}

p {
    color: var(--paragraph);
    font-size: 1.3rem;
}

nav a {
    padding: 0px;
}

nav h1 {
    color: var(--nav-headline);
    font-size: 2.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

nav h2 {
    color: var(--links);
    transition: 0.2s ease-in;
    font-weight: 400;
}

nav li {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-top: 0.2rem groove var(--nav-separator);
    transition: background-color 0.2s ease-in-out;
}

nav ul li:first-child{
    border-top: none;
}

nav li:hover h2{
    translate: 0.2rem -0.2rem 4rem;
    scale: 1.02
}

nav li:hover {
    background-color: var(--nav-separator);
}


nav {
    position: fixed;
    background-color: var(--nav-background);
    top: 0;
    width: 18%;
    padding-top: 3.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    grid-column: 1;
    grid-row: 1;
    height: 100vh
}

#container {
    padding: 4rem;
    grid-column: 2;
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 18rem;
    border-radius: 100rem;
    border: 0.25rem solid #004643;
    box-shadow: 0.1rem 0.2rem 1rem #093610cc;
    -webkit-box-shadow: 0.1rem 0.2rem 1rem #093610cc;
    -moz-box-shadow: 0.1rem 0.2rem 1rem #093610cc;
}

header h1 {
    font-size: 3.5rem;
    margin: 1rem;
}

header h1 + p {
    font-size:1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

main h2 {
    font-size: 2rem;
}

#info-container {
    display: flex;
    align-items: center;
}

#info-container div p:first-child {
    margin-top: 0;
}

#info-container div {
    flex-basis: 50%;
}

#info-container div:last-child {
    margin-left: 4rem;
}


#info-container div img {
    width: 100%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0.2rem 0.2rem 0.1rem 0px #093610cc;
    -moz-box-shadow: 0.2rem 0.2rem 0.1rem 0px #093610cc;
    box-shadow: 0.5rem 0.5rem 0.7rem 0px #093610cc;
}

@media screen and (max-width: 1560px) {
    #info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #info-container div img {
        width: 50vw;
    }

    #info-container div:last-child {
        margin-top: 3rem;
        margin-left: 0;
    }

}

#estudios-container {
    display: flex;
    justify-content: space-around;
    padding-right: 2rem;
    padding-left: 2rem;
}

.education-card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: 2rem;
    width: 35%;
    border: 0.1rem solid var(--card-background);
    height: 30rem;
    text-align: center;
    text-wrap: wrap;
    border-radius: 0.3rem;
    color: var(--card-paragraph)
}

.education-card h3 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.education-card div:last-child {
    border-top: 0.2rem groove white;
    background-color: var(--card-background);
    border-radius: 0.3rem;
}

.education-card p {
    color: var(--card-paragraph);
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

#grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tecnologias-container {
    margin-top: 5rem;
    gap: 0;
    width: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    justify-items: center;
    align-self: center;
    justify-content: center;
}

.tecnologia {
    width: 7rem;
    height: 7rem;
    background-color: #004643cc;
    box-shadow: 0.1rem 0.2rem 1rem #093610cc;
    -webkit-box-shadow: 0.1rem 0.2rem 1rem #093610cc;
    -moz-box-shadow: 0.1rem 0.2rem 1rem #093610cc;
    color: #e8e4e6cc;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    border: 0.2rem solid #e8e4e6cc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.tecnologia div {
    font-size: 3.5rem;
}

.tecnologia span {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    background-color: var(--card-background);
    border-radius: 0.3rem;
    text-align: center;
    width: 30rem;
    padding: 1rem;
    margin-top: 2rem;
}

.project-card h2 {
    color: var(--nav-headline)
}

.project-card p {
    color: var(--nav-headline);
    font-size: 1.15rem;
    padding: 1rem
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    margin: 0px 5rem;
}

.form-input-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 1.25rem;
    font-weight: 700;
    font-size: 1rem;
}

input {
    margin-top: 2.3rem;
    height: 4rem;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--form-input);
    border: none;
}

input::placeholder{
    color: var(--placeholder);
    opacity: 1;
}

input:focus {
    outline: 2px solid var(--placeholder);
}

.form-input-wrap input {
    padding: 1rem;
    color: var(--placeholder);
    padding-left: 2rem;
    margin-top: 1rem;
}

.form-input-wrap label {
    color: var(--paragraph)
}

#submit-button {
    width: 10.5rem;
    background-color: var(--form-button);
    color: var(--form-text-button);
}

footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
}

.footer-links-container p {
    font-size: 2rem;
    margin: 0 0.5rem;

}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--links);
}


