
body {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
}

nav {
    position: fixed;
    top: 0;
    width: 20%;
    padding-top: 3rem;
    grid-column: 1;
    grid-row: 1;
    height: 100vh
}

#container {
    grid-column: 2;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: fit-content;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
